body, html {
    border: none;
    margin: 0;
    padding: 0;
}

.container {
    font-family: helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #9ECAD6 50%, #748DAE );
}

.container-element { 
    width: 40vw;
    min-height: 55vh;
    background-color: #F5CBCB;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 20px 0 #FFAAAA, 20px 20px 2px black;
    border-radius: 10px;
    border: 1px solid black;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    width: 150px;
}

#uk, #us {
    cursor: pointer;
}

p {
    background: #FFEAEA;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    text-decoration: underline;
}

.story {
    width: 80%;
    border-radius: 10px;
}

.randomize {
    font-size: 20px;
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid black;
    &:hover {
        background-color: #9ECAD6;
        border: 1px dotted black;
        color: white;
    }
}

#customName {
    font-size: 15px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .container-element {
        width: 80vw;
        min-height: 45vh;
    }

    h1 {
        font-size: 150%;
    }
}